/* google fonts azeret mono */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* reset and common code starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Azeret Mono", monospace;
}
.btn {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 0.7rem 1rem;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}
.section-subtitle {
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
}
.section-gap {
  gap: 2rem;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
/* reset and common code ends here */

/* header section starts here */
/* navbar section starts here */
.nav {
  min-height: 10vh;
}
.navbar {
  padding: 2rem;
  gap: 10rem;
}
.dev_name {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 800;
}
/* navbar section starts here */

/* hero section starts here */
.hero {
  min-height: 80vh;
  background: url("./assets/Hero-bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.hero_container {
  padding: 2rem 5rem;
}
.hero_details {
  text-align: center;
  gap: 1.5rem;
}
.hero_title {
  font-size: 2rem;
  font-weight: 800;
}
.hero_btn {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: white;
  padding: 1rem 1.5rem;
}
/* hero section ends here */
/* header section ends here */

/* main section starts here */
/* development section starts here */
.development {
  border-radius: 1rem;
  background: rgba(13, 19, 33, 0.02);
  max-width: 80%;
  margin: 3rem auto;
  padding: 5rem ;
}

.development_text {
  max-width: 80%;

  background-color: white;
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
}
.banner_section {
  max-width: 80%;
  margin: 1rem auto;
  border-radius: 0.8rem;
}
.banner_parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  justify-content: space-between;
  align-items: center;
  gap: 2rem 0;
}
.banner_content,
.banner_image {
  height: 20rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
}
.banner_title {
  font-size: 1.2rem;
  font-weight: 700;
}
.banner_subtitle {
  font-size: 0.8rem;
  font-weight: 400;
}
.banner_btn {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 0.5rem;
  opacity: 0.7;
  background-color: white;
  padding: 0.7rem 1rem;
}

/* development section ends here */

/* inspiration section starts here */
.inspiration {
  max-width: 80%;
  margin: 3rem auto;
  gap: 3rem;
}
.inspiration_details {
  gap: 1.5rem;
  text-align: center;
}
.video_container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 1rem;
}
.video {
  width: 100%;
  height: 25rem;
  padding: 1rem;
}
/* inspiration section ends here */

/* current target section starts here */
.current_target {
  max-width: 80%;
  margin: 3rem auto;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.card {
  min-height: 18rem;
  border-radius: 16px;
  padding: 2rem;
  background: rgba(255, 76, 30, 0.05);
  gap: 1rem;
}
.card_title {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.card_details {
  gap: 1rem;
}
.current_target_description {
  text-align: justify;
}
.current_target_more {
  font-size: 0.7rem;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}
/* current target section ends here */

/* feedback section starts here */
.feedback {
  min-height: 60vh;
  max-width: 80%;
  margin: 3rem auto;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/handshake.jpg") no-repeat center;
  background-size: cover;
  color: white;
  gap: 2rem;
}
#feedback {
  width: 20rem;
  height: 2.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
}
.feedback_title {
  padding-bottom: 2rem;
}

.feedback_btn {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.8rem 2rem;
  border: none;
  font-weight: 600;
}

/* feedback section ends here */

/* main section starts here */

/* footer section starts here */
footer {
  min-height: 5vh;
  padding: 1rem 0;
  background: rgba(13, 19, 33, 0.03);
}
/* footer section ends here */
