/* google fonts azeret mono */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* reset and common code starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Azeret Mono", monospace;
}
.btn {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 0.7rem 1rem;
  cursor: pointer;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}
.section-subtitle {
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
}
.section-gap {
  gap: 2rem;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
/* reset and common code ends here */

/* header section starts here */
/* navbar section starts here */
.nav {
  min-height: 10vh;
}
.navbar {
  padding: 2rem;
  gap: 10rem;
}
.dev_name {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 800;
}
/* navbar section starts here */

/* hero section starts here */
.hero {
  min-height: 80vh;
  background: url("./assets/Hero-bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.hero_container {
  padding: 2rem 5rem;
}
.hero_details {
  text-align: center;
  gap: 1.5rem;
}
.hero_title {
  font-size: 2rem;
  font-weight: 800;
}
.hero_btn {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: white;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
/* hero section ends here */
/* header section ends here */

/* main section starts here */
/* development section starts here */
.development {
  border-radius: 1rem;
  background: rgba(13, 19, 33, 0.02);

  max-width: 80%;
  margin: 3rem auto;
  padding: 5rem 0;
}

.development_text {
  max-width: 80%;

  background-color: white;
  padding: 1rem;
  border-radius: 0.8rem;
}
.banner_section {
  max-width: 80%;
  margin: 1rem auto;
  border-radius: 0.8rem;
}
.banner_parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  justify-content: space-between;
  align-items: center;
  gap: 2rem 0;
}
.banner_content,
.banner_image {
  height: 20rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
}
.banner_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_title {
  font-size: 1.2rem;
  font-weight: 700;
}
.banner_subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: justify;
}
.banner_btn {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 0.5rem;
  opacity: 0.7;
  background-color: white;
  padding: 0.7rem 1rem;
  cursor: pointer;
}
.banner_btn:hover{
  background-color: violet;
  color: white;
  border: none;
}

/* development section ends here */

/* inspiration section starts here */
.inspiration {
  max-width: 80%;
  margin: 3rem auto;
  gap: 3rem;
}
.inspiration_details {
  gap: 1.5rem;
  text-align: center;
}
.video_container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 1rem;
}
.video {
  width: 100%;
  height: 25rem;
  padding: 1rem;
  border-radius: 2rem;
}
/* inspiration section ends here */

/* current target section starts here */
.current_target {
  max-width: 80%;
  margin: 3rem auto;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.card {
  min-height: 18rem;
  border-radius: 16px;
  padding: 2rem;
  gap: 1rem;
}
.card:hover {
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202,0.9);
}
#card_html {
  background-color: rgba(255, 76, 30, 0.05);
}
#card_css {
  background-color: rgba(0, 76, 232, 0.05);
}
#card_js {
  background-color: rgba(255, 223, 0, 0.05);
}
.card_title {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.card_details {
  gap: 1rem;
}
.target_description {
  text-align: justify;
  font-size: 0.8rem;
}
.target_more {
  font-size: 0.7rem;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  color: black;
 
}
/* current target section ends here */

/* next target starts here */
.next_target {
  max-width: 80%;
  margin: 2rem auto;
}
.next_target_text {
  padding-bottom: 3rem;
}
.next_target_cards {
  gap: 2.5rem;
}
.next_target_image {
  flex: 1;
}
.next_target_details {
  flex: 6;
}
.next_target_cards > article {
  border-radius: 0.5rem;
  padding: 2rem;
}
.next_target_card_1 {
  border: 1px solid rgba(13, 19, 33, 0.3);

  border-bottom: 1px solid rgba(13, 19, 33, 0.1);
}
.next_target_card_2 {
  border: 1px solid rgba(13, 19, 33, 0.3);
  border-top: 1px solid rgba(13, 19, 33, 0.1);
}
.next_target_card_3 {
  border: 1px solid rgba(13, 19, 33, 0.1);
}

/* next target ends here */

/* feedback section starts here */
.feedback {
  min-height: 60vh;
  max-width: 80%;
  margin: 3rem auto;
  border-radius: 0.7rem;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/handshake.jpg") no-repeat center;
  background-size: cover;
  color: white;
  gap: 2rem;
}
#feedback {
  width: 20rem;
  height: 2.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
}
.feedback_title {
  padding-bottom: 2rem;
}

.feedback_btn {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.8rem 2rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* feedback section ends here */

/* main section starts here */

/* footer section starts here */
footer {
  min-height: 5vh;
  padding: 1rem 0;
  background: rgba(13, 19, 33, 0.03);
}
/* footer section ends here */

/* responsive section starts*/
@media (max-width: 768px) {
  .navbar {
    
    gap: 4rem;
  }
  .hero_container {
    padding: 1rem;
  }
  .hero{
    min-height: 60vh;
    padding: 3rem 0.2rem;
  }
  .hero_title{
    font-size: 1.2rem;
  }
  .banner_parent,
  .cards {
    grid-template-columns: repeat(1, 1fr);
    
  }
  .development {
    min-width: 100%;
    margin: 0;
    padding: 1rem auto;
  }
  .development_description{
    text-align: justify;
  }
  .banner_parent{
    gap: 0;
  }
  
 
 #item_1{
  order: 2;
  margin-bottom: 2rem;
 }
 #item_2{
  order: 1;
 }
 #item_3{
  order: 3;
 }
 #item_4{
  order: 4;
  margin-bottom: 2rem;
 }
 #item_5{
  order: 6;
 }
 #item_6{
  order: 5;

 }
 
  .next_target_card_1,
  .next_target_card_2,
  .next_target_card_3 {
    flex-direction: column;
  }
  .feedback_input_parent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  #feedback{
    width:15rem;
    margin: 0 auto;
  }
  .feedback_btn {
    margin: 2rem 5rem 0;
  }
  .footer_container {
    flex-direction: column;
    gap: 2rem;
  }
}
/* responsive section ends here */
